* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
  background-color: #006868;
  background-image: linear-gradient(160deg, #006868 0%, #a5e8c8 100%);
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 100vh;
  
}

/*header*/

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background:rgba(255, 255, 255, 0.5)
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  padding: 0 30px;
}

.search input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background:rgba(255, 255, 255, 0.5)
}

.creators {
  display: flex;
  flex-direction: column;
}

/*cards-block*/

.cards-block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.card-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(25% - 20px);
  margin-bottom: 15px;
  margin-right: 15px;
  background:#919191;
}